<!-- <div class="style_mainFooter__5X9Fe"> 
    <div class="style_cTALinks__3ngVk">
        <div><h6>Policy Info</h6>
            <ul>
                <li><a href="/info/terms-and-conditions">Terms &amp; Conditions</a></li>
                <li><a href="/info/privacy-policy">Privacy Policy</a></li>
                <li><a href="/info/terms-of-use">Terms of Use</a></li>
                <li><a href="/info/disclaimer">Disclaimer</a></li>
            </ul>
        </div>
        <div><h6>About Company</h6>
            <ul>
                <li><a href="/info/about-us">About Us</a></li>
                <li><a href="/info/fnp-team">FNP Team</a></li>
                <li><a href="/info/careers">Careers</a></li>
                <li><a href="/info/testimonials">Testimonials</a></li>
                <li><a href="/info/news">News Room</a></li>
            </ul>
        </div>
        <div><h6>FNP business</h6>
            <ul>
                <li><a href="/decoration-services">Decoration Services</a></li>
                <li><a href="/corporate">Corporate Service</a></li>
                <li><a href="/info/affiliate-program">Affiliate Program</a></li>
                <li><a href="/info/retail-stores">Retails Stores</a></li>
                <li><a href="/info/franchise-programme">Franchise</a></li>
            </ul>
        </div>
        <div><h6>Need Help ?</h6>
            <ul>
                <li><a href="/info/contact-us">Contact Us</a></li>
                <li><a href="/info/faq">FAQs</a></li>
            </ul>
        </div>
        <div><h6> Useful Links</h6>
                <ul>
                    <li><a href="/quotes/wishes-n-messages">Quotes N Wishes</a></li>
                    <li><a href="/article/flower-astrology">Flower Astrology</a></li>
                    <li><a href="/info/articles-hub">Article Hub</a></li>
                    <li><a href="/article/care-guide">Care Guide</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="style_subscribe__3rm5K"><h6>SUBSCRIBE</h6><form>
            <i class="material-icons">email_icon</i>
            <input type="email" id="subscribe-input" value="" placeholder="Email">
            <button class="style_subscribeBtn1__3GG02" type="submit">SUBMIT</button>
        </form><p class="style_subscribeSuccesfull__cekpB" style="color:#555">Get updates on promotions and offers coupons.</p>
    </div>
</div>-->
<footer>
    <div class="footer-content">
        <p>Copyright © 2024 bnt.com. All rights reserved.</p>
        <div><h4>Policy Info</h4>
            <ul>
                <li><a href="/info/terms-and-conditions">Terms &amp; Conditions</a></li>
                <li><a href="/info/privacy-policy">Privacy Policy</a></li>
                <li><a href="/info/terms-of-use">Terms of Use</a></li>
                <li><a href="/info/disclaimer">Disclaimer</a></li>
            </ul>
        </div>

        <div><h4>About Company</h4>
            <ul>
                <li><a href="/info/about-us">About Us</a></li>
                <li><a href="/info/fnp-team">BNT Team</a></li>
                <li><a href="/info/careers">Careers</a></li>
                <li><a href="/info/testimonials">Testimonials</a></li>
                <li><a href="/info/news">News Room</a></li>
            </ul>
        </div>

        <div><h4>BNT business</h4>
            <ul>
                <li><a href="/decoration-services">Decoration Services</a></li>
                <li><a href="/corporate">Corporate Service</a></li>
                <li><a href="/info/affiliate-program">Affiliate Program</a></li>
                <li><a href="/info/retail-stores">Retails Stores</a></li>
                <li><a href="/info/franchise-programme">Franchise</a></li>
            </ul>
        </div>

        <div><h4>Need Help ?</h4>
            <ul>
                <li><a style="color: black;" href="/info/contact-us">Contact Us</a></li>
                <li><a href="/info/faq">FAQs</a></li>
            </ul>
        </div>
        <div><h4> Useful Links</h4>
            <ul>
                <li><a href="/quotes/wishes-n-messages">Quotes N Wishes</a></li>
                <li><a href="/article/flower-astrology">Flower Astrology</a></li>
                <li><a href="/info/articles-hub">Article Hub</a></li>
                <li><a href="/article/care-guide">Care Guide</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </div>

        <!-- <div class="style_subscribe__3rm5K"><h6>SUBSCRIBE</h6><form>
            <i class="material-icons">email_icon</i>
            <input type="email" id="subscribe-input" value="" placeholder="Email">
            <button class="style_subscribeBtn1__3GG02" type="submit">SUBMIT</button>
        </form><p class="style_subscribeSuccesfull__cekpB" style="color:#555">Get updates on promotions and offers coupons.</p>
    </div> -->
       
        <!-- <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FNP Business</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Flower Astrology</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">News Room</a></li>
            <li><a href="#">Retails Stores</a></li>
            <li><a href="#">Affiliate Program</a></li>
            <li><a href="#">Article Hub</a></li>
            <li><a href="#">Care Guide</a></li>
            <li><a href="#">Franchise</a></li>
            <li><a href="#">Blog</a></li>
        </ul> -->
    </div>
    <div class="footer-social">
        <a href="#"><img src="assets/images/facebook-logo.jpg" alt="Facebook"></a>
        <a href="#"><img src="assets/images/twitter-logo.jpg" alt="Twitter"></a>
        <a href="#"><img src="assets/images/inta-logo.jpg" alt="Instagram"></a>
        <a href="#"><img src="assets/images/pintresest-logo.jpg" alt="Pinterest"></a>
    </div>
</footer>