<!-- review.component.html -->
<h2 style="text-align: center;"><b>Customers Feedback</b></h2>
<div style=" background-image: url('assets/images/cake1.jpg');" class="review-container">
<!-- <div  class="review-item " *ngFor="let review of reviews">
    <p><b>Feedback:</b> {{ review.review }}</p> 
     <p><b>Rating:</b> {{ review.rating }}</p> 
  </div> -->
  
  <form class="review-form" (ngSubmit)="addReview()">
    
    <label style="text-align: center;" for="text">Feedback:</label>
    <textarea style="width: 90% ; justify-content: center;" id="text" name="feedBack" [(ngModel)]="newReview.feedBack" required></textarea>

    <!-- <label  for="rating">Rating:</label>
    <input  style="width: 90% ; justify-content: center;"type="number" id="rating" name="rating" [(ngModel)]="newReview.rating" required min="1" max="5"><br>
   -->
    <button (click)="onSubmit()" type="submit">Submit Feedback</button>
  </form>
</div>
  