<div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let car of carousal">
      <img src="{{car.imgsrc}}" class="d-block w-100" alt="...">
    </div>
     
  </div>
  <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </a>
</div>

<!-- 
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let car of carousal">
      <img src="{{car.imgsrc}}" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<br/><br/>
<br/>
<!-- <div>
<app-find-gift></app-find-gift><br><br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div> -->

<div>
  <app-find-gift></app-find-gift><br><br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  </div>
<app-about></app-about>




<!-- <div class="quick-search">	
<div class="desktopError" style="display: none;">Please select Occasion or Gift Type</div>
<form id="quick-search-form" autocomplete="off">
  <h3 class="quick-search-title">
    Gift Finder
  </h3>
  <div class="sec occassions-input pincodeSec">
    <input type="text" id="QuickSeacrchpincode" placeholder="Enter Pincode">
    <input type="hidden" id="lastSelectedPincode">
    <input type="hidden" id="lastSelectedAddress">
    <div class="pincodeListItems" style="display: none;">
      <ul id="pincodeUL"></ul>
      <span id="dontknow">Don't Know Pincode?</span>
      <span id="dontsee">Don't see your Pincode?</span>
    </div>
  </div>
  <div class="sec occassions-input">
    <input type="hidden" id="occassionsinput">
    <span class="inputs-sec" id="occassions">Occasion<span class="placeholders">Birthday, Anniversary etc.</span></span>
  </div>
  <div class="sec gift-input">
    <input type="hidden" id="gifttypeinput">
    <span class="inputs-sec" id="giftType">Gift Type<span class="placeholders">Flowers, Cakes, Plants, etc.</span></span>
  </div>
  <div class="sec submit">
    <button type="button" id="quick-search-btn">Find Gifts</button>
  </div>
  <div class="errors-msg">Select Occasion or Gift Type</div>
</form>
</div>  -->
<!-- <app-card></app-card> -->
